body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #87a092;  
}

a {
  color: #ffffff;

  text-decoration-color:  rgba(255, 255, 255, 0.2);
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 27px;
}

.main-nav {
  display: flex;
  margin: 0;
  margin-right: 374px;
  padding: 0;
}

.header-column-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.site-nav,
.user-block {
  font-weight: bold;
  font-size:  16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #87a092;
}

.site-nav-submenu {
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
}

.site-nav-submenu span {
  font-weight: 700;
}

.site-nav,
.site-nav-submenu,
.user-block {
  list-style: none;
}

.site-nav a,
.user-block a {
  color: #ffffff;
}

.site-nav-submenu a {
  color: #323232;

  background-color: #ffffff;
}

.nav-current>a /* По каким то причинам не применяется */ { 
  color: #ffffff;

  background-color: #d07058;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-nav-submenu a:hover,
.site-nav-submenu a:focus {
  color: #323232;

  background-color: #fbded7;
}

.site-nav a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-nav-submenu a:active {
  color: #323232;

  background-color: #f6b5a5;
  box-shadow: none;
}

.user-block a{
  text-decoration: none;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-block a:hover,
.user-block a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.working-info {
  font-weight: 700;
}

.working-hours {
  font-size: 14px;
  line-height: 16px;
}

.number {
  font-size: 22px;
  line-height: 24px;
}

.slider-block {
  display: flex;
  align-items: flex-end;
  margin: 0 27px 41px 27px;
  padding: 0;
}

.slider-list {
  max-width: 665px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  
  list-style: none;
}

.slider-nav {
  margin-right: 162px;
  order: -1;
  padding: 0;

  list-style: none;
}

.slider-item:nth-child(1) {
  background-image: url(../img/background-ice-cream-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:nth-child(2) {
  background-image: url(../img/background-ice-cream-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:nth-child(3) {
  background-image: url(../img/background-ice-cream-3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  color: #ffffff;

  border: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0 rgb(172, 16, 0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 rgb(148, 39, 24);
  background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67));

}

.slider-item>a {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
}

.store-promotions-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 27px 40px 27px;

  font-size: 18px;
  font-weight: 700;

  list-style: none;
}

.store-promotions-list li {
  flex-basis: 560px;
  height: 229px;
}

.store-promotions-item h2 {
  font-size: 35px;
  line-height: 41px;
}

a.promotions-button {
  color: #ffffff;
  line-height: 24px;
}

.raspberries-background {
  background-color: #8E1730;
  background-image: url(../img/background-raspberries.jpg);
}

.chocolate-background {
  background-color: #825E50;
  background-image: url(../img/background-chocolate.jpg);
}

.catalog {
  margin: 0 27px 41px 27px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  flex-basis: 267px;
}

.catalog-item a {
  font-size: 16px;
}

.catalog-item-price {
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price {
  font-size: 45px;
}

.weight {
  font-size: 30px;
}

.catalog-item .catalog-item-button {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.features {
  margin: 0 27px 41px 27px;

  color: #323232;

  background-color: #F4E3CB;
  background-image: url(../img/background-waffle.jpg)
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.index-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 27px 40px 27px;
}

.new-in-blog {
  flex-basis: 560px;

  background-color: #FBF9F9;
  background-image: url(../img/news-background.jpg);
}

.new-in-blog h2 {
  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.new-article a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.new-article a:hover,
.new-article a:focus,
.new-article a:active{
  color: #e84d37;
}

.subscription-block {
  flex-basis: 560px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image:  linear-gradient(#f8f7f4,#f8f7f4),  url(../img/background-mail.svg);
  background-clip: padding-box,  border-box;
  border: 5px solid transparent;
  
}

.subscription-block input{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #999999;
}

.subscription-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-information {
  color: #323232;

  background-color: #ffffff; 
}

.contact-information .address {
  font-size: 14px;
  line-height: 20px;
}

.address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

}

.contact-information .number {
  font-size: 14px;
  line-height: 20px;
}

.number b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.number span {
  font-size: 14px;
  font-weight: 22px;
}

a.contact-button {
  color: #ffffff;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 37px 27px 0px 27px;
}

.social-network {
  padding: 0;

  list-style: none;
}

.social-button {
  background-color: rgba(255, 255, 255, 0.5);
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background: rgba(255, 255, 255, 0.7);
}

.footer-links {
  font-size: 13px;
  line-height: 18px;
  
  list-style: none;
}

.footer-links a{
  color: #ffffff;
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active {
  color: #ffbc9e;
}

.favorite {
  font-weight: 700;
}

.copyright-block {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.breadcrumbs {
  margin: 0 27px 10px 27px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  margin: 0 27px 25px 27px;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin: 0 27px 40px 27px;
  padding: 0;
}

.filters ul{
  list-style: none;
}

.filters-form {
  font-family: inherit;
  font-weight: 500;
}

.filter-label {
  font-size: 14px;
  line-height: 16px;
}

.filter-item option,
.translucent-filter-item label {
  font-size: 16px;
  line-height: 18px;
}

.filters fieldset {
  border: none;
}

.filter-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff; 
}

.filter-button:active {
  color: #323232;

  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.pagination-list {
  display: flex;
  justify-content: flex-end;
  margin: 75px 27px 30px 27px; 

  line-height: 18px;
  font-weight: 500;
  text-decoration: none;

  list-style: none;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;

  pointer-events: none;
  cursor: default;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}