body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  
  background-color: #849d8f;  
}

a {
  color: #ffffff;

  -webkit-text-decoration-color:  rgba(255, 255, 255, 0.2);

          text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.img {
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus,
a:active {
  color: #ffbc9e;
}

.popup {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.header {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-nav {
  display: flex;
  margin-right: 40px;
}

.header-logo {
  margin: 9px 10px 0 0;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 23px 0 0 0;
  padding: 0;
}

.site-nav a {
  display: block;
  padding: 8px 14px;
  margin: 0 0 6px 0;
  border-radius: 20px;
}

.site-nav > li {
  position: relative;
  padding: 0;
}

.user-block {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 22px 0 0 0;
}

.user-block li:last-child {
  padding-right: 0;
}

.site-nav,
.user-block {
  font-weight: bold;
  font-size:  16px;
  line-height: 18px;
  color: #ffffff;
}

.site-nav-submenu {
  display: none;
  position: absolute;
  top: 40px;
  left: -7px;
  width: 143px;
  margin: 0;
  padding: 0 0 5px 0;
  border-radius: 5px;
  overflow: hidden;

  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

li:hover .site-nav-submenu,
li:focus .site-nav-submenu {
  display: block;
}

.site-nav-submenu span {
  font-weight: 700;
}

.site-nav-submenu li:first-child {
  padding-bottom: 2px;
}

.site-nav-submenu li:first-child::after {
  content: "";
  position: absolute;
  left: 7px;
  z-index: 2;
  height: 1px;
  width: 128px;
  
  background-color: rgba(0, 0, 0, 0.2)
}

.site-nav,
.site-nav-submenu,
.user-block {
  list-style: none;
}

.site-nav a,
.user-block a {
  color: #ffffff;
}

.site-nav-submenu a {
  margin: 5px 0 5px 0;
  padding: 5px 0 5px 20px;
  border-radius: 0;

  font-weight: 400;

  color: #323232;
}

.nav-current > a {
  color: #ffffff;

  background-color: #d07058;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333333;

  background-color: #f7f6f3;
}

.site-nav-submenu a:hover,
.site-nav-submenu a:focus {
  color: #323232;

  background-color: #fbded7;
}

.site-nav a:active {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0 #696969;
}

.site-nav-submenu a:active {
  color: #323232;

  background-color: #f6b5a5;
  box-shadow: none;
}

.user-block a{
  display: block;
  position: relative;
  padding: 9px 17px 9px 45px;
  margin: 0 0 6px 0;
  border-radius: 20px;

  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-block li {
  position: relative;
  margin: 0 0 0 10px;
}

.user-block .search-button {
  width: 33px;
  height: 33px;
  padding: 0;
}

.search-button svg {
  position: absolute;
  top: 8px;
  left: 8px;
  fill: #ffffff;
}

.search-form {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 2;
  width: 310px;
  padding: 19px 15px;
  border-radius: 5px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

li:hover .search-form,
li:focus .search-form {
  display: block;
}

.log-in-item {
  margin: 0;
}

.log-in-item button {
  padding: 10px 25px 10px 25px;
  margin: 20px 0 0 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 20px;
}

.right-column {
  margin: 16px 0 0 0;
}

.right-column .log-in-help {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  text-decoration: underline;
}

.log-in-form {
  position: absolute;
  top: 40px;
  right: 0px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  width: 277px;
  padding: 20px 17px 0 19px;
  border-radius: 5px;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input {
  padding: 10px 0 10px 15px;
  width: 100%;
  border: 1px solid #d3d3d2;
  border-radius: 5px;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
}

.log-in-form input {
  box-sizing: border-box;
  width: 241px;
  padding: 10px 0 10px 15px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.log-in-form p {
  margin: 0 0 20px 0;
}

.log-in-form p:nth-child(2) {
  margin: 0;
}

li:hover .log-in-form,
li:focus .log-in-form {
  display: flex;
}

.entrance-button svg,
.cart-button svg {
  position: absolute;
  top: 8px;
  left: 16px;
  fill: #ffffff;
}

.cart-button .filled-area {
  opacity: 0;
}

.user-block .cart-button-full {
  color: #323232;

  background-color: #f8f7f4;
}

.cart-button-full svg {
  fill: #323232;
}

.cart-button-full .filled-area {
  opacity: 1;
}

.entrance-button:hover svg,
.entrance-button:focus svg,
.cart-button:hover svg,
.cart-button:focus svg,
.search-button:hover svg,
.search-button:focus svg {
  fill: #323232;
}

.user-block a:hover,
.user-block a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.right-column a:hover,
.right-column a:focus {
  color: #e84d37;
}

.working-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;

  font-weight: 700;
}

.working-hours {
  margin: 0 0 6px 0;

  font-size: 14px;
  line-height: 16px;
}

.number {
  font-size: 22px;
  line-height: 24px;
}

.slider-block {
  position: relative;
  margin: 0;
  padding: 0;
}

.slider-list {
  margin: 0;
  padding: 0;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  
  list-style: none;
}

.slider-nav {
  display: flex;
  position: absolute;
  top: 570px;
  margin: 0;
  order: -1;
  padding: 0;

  list-style: none;
}

.slider-nav-button {
  width: 21px;
  height: 21px;
  margin: 0 8px 0 0;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-nav-button-current {
  background-color: #ffffff;
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: -124px 0 -229px 0;
  height: 881px;
}

.slider-item p {
  width: 700px;
  margin: 0 0 26px 0;

  text-align: center;
}

.slider-item:nth-child(1) {
  background-image: url(../img/background-ice-cream-1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:nth-child(2) {
  background-image: url(../img/background-ice-cream-2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.slider-item:nth-child(3) {
  background-image: url(../img/background-ice-cream-3.png);
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  color: #ffffff;

  border: none;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:hover,
.button:focus {
  box-shadow: 0px 2px 2px 0 rgb(172, 16, 0);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, rgb(231, 74, 53), rgb(242, 104, 67));
}

.button:active {
  box-shadow: inset 0px 2px 2px 0 rgb(148, 39, 24);
  background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, rgb(231, 74, 53), rgb(242, 104, 67));

}

.slider-item a {
  padding: 10px 42px;
  margin: 0 0 270px 0;

  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
}

.store-promotions-list {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 40px 0;

  font-size: 18px;
  font-weight: 700;

  list-style: none;
}

.store-promotions-list li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 560px;
  height: 229px;
  padding: 20px;

  border-radius: 16px;
}

.store-promotions-item h2 {
  margin: 0 0 15px 0;

  font-size: 35px;
  line-height: 41px;
}

.store-promotions-item p {
  margin: 0;
  padding: 0;
}

a.promotions-button {
  align-self: flex-end;
  margin: 43px 0 0 0;
  padding: 10px 23px;

  color: #ffffff;
  line-height: 24px;

  border-radius: 30px;
}

.raspberries-background {
  background-color: #8E1730;
  background-image: url(../img/background-raspberries.jpg);
}

.chocolate-background {
  background-color: #825E50;
  background-image: url(../img/background-chocolate.jpg);
}

.catalog {
  margin: 0;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 267px;
  margin: 0 0 38px 0;
}

.catalog-item::before {
  display: none;
  content: "";
  position: absolute;
  top: -5px;
  right: -14px;
  bottom: -75px;
  left: -14px;
  z-index: -2;

  border-radius: 5px;  
  opacity: 0.2;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  z-index: 2;
}

.catalog-item h3 {
  order: 1;
  margin: 10px 0 0 0;
  width: 96%;

  font-weight: 500;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item a {
  position: relative;

  display: block;

  font-size: 16px;
}

.catalog-item-img {
  display: block;
  margin: 0;
}

.catalog-item-img .hit {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 61px;
  height: 61px;

  background: url(../img/catalog-hit.svg) no-repeat;
}

.catalog-item-price {
  position: absolute;
  top: 210px;
  left: 0;
  margin: 0;

  line-height: 45px;
  font-weight: 700;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
}

.price {
  font-size: 45px;
}

.weight {
  font-size: 30px;
}

.catalog-item .catalog-item-button {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  z-index: 3;
  order: 2;
  padding: 9px 10px;
  margin-left: -100px;

  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  border-radius: 20px;
}

.catalog-item:hover .catalog-item-button,
.catalog-item:focus .catalog-item-button {
  display: block;
}

.features {
  margin: 0 0 41px 0;
  padding: 25px 20px 22px 20px;

  color: #323232;

  background-color: #F4E3CB;
  background-image: url(../img/background-waffle.jpg);
  border-radius: 15px;
}

.features h2 {
  margin: 0 0 20px 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-list-item {
  position: relative;
  flex-basis: 480px;
  margin: 0 0 25px 56px;
}

.features-list .last-line {
  margin-bottom: 0;
}

.features-list-item p {
  margin: 0;
}

.features-list-item svg {
  position: absolute;
  top: -15px;
  left: -55px;
}

.index-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 40px 0;
}

.new-in-blog {
  box-sizing: border-box;
  flex-basis: 560px;
  height: 220px;
  padding: 22px 100px 22px 20px;

  background-color: #FBF9F9;
  background-image: url(../img/news-background.jpg);
  border-radius: 15px;
}

.new-in-blog h2 {
  margin: 0 0 6px 0;

  color: #323232;
  font-size: 16px;
  font-weight: 500;
}

.new-in-blog p {
  width: 65%;
  margin: 0;
}

.new-article a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.new-article a:hover,
.new-article a:focus,
.new-article a:active{
  color: #e84d37;
}

.subscription-block {
  box-sizing: border-box;
  flex-basis: 560px;
  height: 220px;
  padding: 30px 18px 35px 21px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image:  linear-gradient(#f8f7f4,#f8f7f4),  url(../img/background-mail.svg);
  background-clip: padding-box,  border-box;
  border: 5px solid transparent;
  border-radius: 15px;
}

.subscription-block p {
  margin: 0 0 35px 0;
}

.subscription-block input {
  box-sizing: border-box;
  width: 368px;
  margin: 0 8px 0 0;
  padding: 10px 0 10px 15px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  color: #999999;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.subscription-button {
  padding: 10px 19px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 20px;
}

.contacts {
  position: relative;
}

.map {
  display: flex;
  justify-content: center;
}

.contact-information {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(271px, -363px);
          transform: translate(271px, -363px);
  width: 302px;
  padding: 30px 24px 42px 24px;

  color: #323232;

  background-color: #ffffff; 
  border-radius: 10px;
}

.contact-information .address {
  margin: 0 0 17px 0;

  font-size: 14px;
  line-height: 20px;
}

.address b {
  display: block;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-information .number {
  margin: 0 0 37px 0;

  font-size: 14px;
  line-height: 20px;
}

.number b {
  display: block;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.number span {
  font-size: 14px;
  font-weight: 22px;
}

a.contact-button {
  padding: 10px 28px;

  color: #ffffff;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.social-network {
  display: flex;
  padding: 0;
  margin: 36px 0 29px 0;

  list-style: none;
}

.social-network li {
  margin: 0 11px 0 0;
}


.social-button svg {
  fill: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover svg,
.social-button:focus svg{
  fill: #ffffff;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.social-button:active svg {
  fill: rgba(255, 255, 255, 0.7);
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-links {
  position: relative;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  margin: 35px 0 0 0;
  padding: 0;

  font-size: 13px;
  line-height: 18px;
  
  list-style: none;
}

.footer-links a{
  color: #ffffff;
}

.footer-links a:hover,
.footer-links a:focus,
.footer-links a:active {
  color: #ffbc9e;
}

.favorite {
  font-weight: 700;
}

.favorite svg {
  position: absolute;
  top: 1px;
  left: -20px;

  fill: #ffffff;
}

.copyright-block {
  margin: 18px 0 0 0;

  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
}

.copyright-block p {
  margin: 2px 0 0 0;
}

.breadcrumbs {
  display: flex;

  margin: 0 0 10px 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs li::after {
  content: " » ";
  padding: 0 5px 0 5px;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  color: #ffffff;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  margin: 0 0 25px 0;
}

h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filters {
  margin: 0 0 40px 0;
  padding: 0;
}

.filters ul{
  list-style: none;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 900px;

  font-family: inherit;
  font-weight: 500;
}

.filter-label {
  margin: 0 0 5px 16px;

  font-size: 14px;
  line-height: 16px;
}

.filter-item {
  padding: 0;
  margin: 0 14px 17px 0;
}

.filter-item select,
.translucent-filter-item {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}

.filter-item .translucent-filter-item {
  padding: 7px 18px 8px 15px;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter-item option,
.translucent-filter-item label {
  font-size: 16px;
  line-height: 18px;
}

.filters fieldset {
  padding: 0;

  border: none;
}

.filter-button {
  padding: 7px 26px 8px 30px;
  margin: 0 0 17px 0;

  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.filter-button:hover,
.filter-button:focus {
  color: #323232;

  background-color: #ffffff; 
}

.filter-button:active {
  color: #323232;

  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
}

.range-controls {
  position: relative;

  width: 220px;
  height: 37px;

  background-color: rgba(255, 255, 255, 0.2);

  border-radius: 20px;
}

.range-controls .scale {
  position: absolute;
  top: 17px;
  left: 22px;

  width: 176px;
  height: 4px;

  background-color: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  position: absolute;
  left: 16px;

  width: 107px;
  height: 4px;

  background-color: #f8f7f4;
}

.range-controls .range-toggle {
  position: absolute;
  top: 9px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 2px;

  background-color: #849d8f;
  border: 8px solid #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .range-toggle-min {
  left: 35px;
}

.range-controls .range-toggle-max {
  left: 133px;
}

.filter-item select {
  padding: 4px 15px 8px 16px;

  color: #ffffff;
  text-transform: lowercase;

  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 15px;
}

.filter-item select:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.translucent-filter-item li {
  position: relative;
}

.fatness li {
  margin: 0 19px 0 0;
}

.fatness li:last-child {
  margin: 0;
}

.fatness label {
  padding: 0 0 0 32px;

  cursor: pointer;
}

.filter-item input[type="radio"] + label::before  {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 22px;
  height: 22px;

  opacity: 0.8;
  border: 4px solid #f8f7f4;
  border-radius: 50%;
}

.filter-item input[type="radio"] + label::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 7px;

  display: none;
  width: 8px;
  height: 8px;

  opacity: 0.8;
  background-color: #f8f7f4;
  border-radius: 50%;
}

.filter-item input[type="radio"]:focus + label::after, 
.filter-item input[type="radio"]:hover + label::before,
.filter-item input[type="radio"]:focus + label::after, 
.filter-item input[type="radio"]:hover + label::before,
.filter-item input[type="checkbox"]:hover + label::before, 
.filter-item input[type="checkbox"]:hover + label::before{
  opacity: 1;
}

.filter-item input[type="radio"]:checked + label::after {
  display: block;
}

.fillers label {
  padding: 0 0 0 33px;

  cursor: pointer;
}

.filter-item input[type="checkbox"] + label::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  opacity: 0.8;
  border: 2px solid #f8f7f4;
  border-radius: 3px;
}

.filter-item input[type="checkbox"]:checked + label::before {
  width: 24px;
  height: 20px;

  background: url(../img/checkbox-on.svg) no-repeat 0% 0%;
  border: none;
  border-radius: 0;
}

.fillers li {
  margin: 0 20px 0 0;
}

.fillers li:last-child {
  margin: 0;
}

.pagination-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 47px -10px 32px 0; 

  line-height: 18px;
  font-weight: 500;
  text-decoration: none;

  list-style: none;
}

.pagination-item {
  margin: 0 4px 0 0;
}

.pagination-item:last-child {
  margin: 0 0 0 5px;
}

.pagination-item a {
  padding: 4px 8px;

  border-radius: 50%;
}

.pagination-item-current a {
  color: #323232;

  background-color: #ffffff;

  pointer-events: none;
  cursor: default;
}

.pagination-item a:hover,
.pagination-item a:focus {
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.pagination-item svg {
  fill: #ffffff;
}

.arrow:active svg{
  fill: #323232;
}

.arrow-back {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow-inactive {
  pointer-events: none;
  cursor: default;
}

.arrow-inactive svg {
  fill: rgba(255, 255, 255, 0.2);
}

.arrow-inactive:hover svg,
.arrow-inactive:focus svg,
.arrow-inactive:active svg {
  fill: rgba(255, 255, 255, 0.2);
}

.pagination-item .arrow-inactive:hover,
.pagination-item .arrow-inactive:focus,
.pagination-item .arrow-inactive:active {
  background-color: rgba(255, 255, 255, 0.0001);
}

.pagination-list::after {
  content: "";
  position: absolute;
  top: 50px;
  width: 1146px;
  height: 1px;
  
  background-color: rgba(255, 255, 255, 0.3);
}

.cart {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0px;
  z-index: 2;
  box-sizing: border-box;
  width: 540px;
  padding: 20px 30px 20px 16px;

  color: #323232;

  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

li:hover .cart,
li:focus .cart {
  display: flex;
}

.cart table {
  margin: 0 0 32px 0;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  border-collapse: collapse;
}

.cart tr {
  display: block;
  padding: 0 0 20px 0;
}

.cart tr:last-child {
  padding: 0;
}

.cart td {
  padding: 0;
  margin: 0;

  vertical-align: baseline;
}

.delete-button {
  display: block;
  margin: 0 14px 0 0; 
  padding: 0;

  border: none;
  background-color: transparent;
}

.item-cell img {
  vertical-align: middle;
  margin: 0 14px 0 0;
}

.cart p {
  padding: 0;
  margin: 0;
}

.name-cell p {
  width: 217px;
  margin: 0 30px 0 0;
}

.quantity-cell p {
  width: 95px;
  margin: 0 29px 0 0;
}

.quantity-cell span {
  color: #999999;
}

.cart > p {
  display: block;
  margin: 0 -18px 16px 0;

  font-size: 15px;
  line-height: 18px;
}

.cart::after {
  content: "";
  position: absolute;
  bottom: 110px;
  left: 15px;
  right: 15px;
  height: 1px;

  background-color: #cacac7;
}

.inside-cart-button {
  margin: 0 -16px 0 0;
  padding: 10px 14px;
  border-radius: 20px;

  font-size: 18px;
  line-height: 24px;
}

.modal-feedback {
  position: fixed;
  top: 336px;
  left: -239px;
  z-index: 100;

  width: 428px;
  margin: 0 0 0 50%;
  padding: 18px 25px 27px 25px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form b {
  display: block;
  margin: 0 0 18px 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-form-item {
  margin: 0 0 20px 0;
}

.feedback-form-item input,
.feedback-form-item textarea {
  padding: 10px 15px 8px 15px;

  line-height: 24px;
  font-family: inherit;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.feedback-form-item input {
  width: 236px;
}

.feedback-form-item textarea {
  width: 396px;
  padding: 10px 15px 0 15px;

  resize: none;
}

.feedback-form .button {
  align-self: flex-end;
  padding: 10px 22px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  border-radius: 20px;
}

.modal-feedback .close-button {
  position: absolute;
  top: 15px;
  right: 10px;

  background-color: transparent;
  border: none;
}